.whole-form {
	border-left: solid 4px #337ab7;

	padding-left: 6px;
	margin: auto;
	margin-top: 100px;
	margin-bottom:50px;
}
li.active{
	background-color:#337ab7;
}
.navbar-nav > li.active > a{
    color: red;
}