.whole-form {
	border-left: solid 3px #3333ff;
	border-bottom: solid 2px #3333ff;
	padding-left: 6px;
	margin: auto;
	margin-top: 100px;
	margin-bottom:50px;
}
li.active{
	background-color:#337ab7;
}
.navbar-nav > li.active > a{
    color: red;
}